<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="styles/main.css">

</head>

<body>
  <header>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> <a href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> <svg
            class="bi me-2" width="40" height="32" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
          </svg> <span class="fs-4"><img src = "/images/QuizzerLogo.png" class = "LogoImage"></span> </a>
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" method="GET" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/upload" method="GET" class="nav-link ">Upload</a></li>
          <li class="nav-item"><a href="/tanscribe" method="GET" class="nav-link ">Transcribe</a></li>
          <li class="nav-item"><a href="/quiz" method="GET" class="nav-link ">Quiz</a></li>
        </ul>
      </header>
    </div>
  </header>
  <main>