<%- include("partials/header.ejs") %>
    <div class="summary-container">
        <div class="content-wrapper">
            <h1 class="main-title">Video Transcription & Summary</h1>
            <p class="subtitle">AI-powered transcription with speaker identification and intelligent summarization</p>
            <div class="summary-panel">
                <div class="ai-summary">
                    <div class="ai-summary-header">
                        <i class="bi bi-stars"></i>
                        <h2>AI Summary</h2>
                        
                    </div>
                    <div>
                    <% if (locals.summary) { %>
                            <p>
                                <%= summary %>
                            </p>
                        <% } else { %>
                                <p>Upload Audio file first</p>
                        <% } %>
                    </div>
                <div class="quiz-btn-container">
                    <a href="quiz-generated">
                        <button class="generate-quiz-btn">Generate Quiz</button>
                    </a>
                    </div>
                </div>
            </div>
        </div>


        <%- include("partials/footer.ejs") %>